$primary: #0d324d;
$secondary: #b2cef2;
$grad: linear-gradient(
  to left bottom,
  #0f1284,
  #350a74,
  #430664,
  #490756,
  #4b0d4a
);

// // :export {
// //   $primary: $primary;
// //   $secondary: $secondary;
// //   $grad: $grad;
// // }
