@import "colors";

.navbar {
  background: $grad;
  color: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.299);
  height: 10vh;

  svg {
    padding: 0.5rem;
    font-size: 3rem;
    color: $secondary;
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.299);
    height: 10vh;

    svg {
      padding: 0.5rem;
      font-size: 3rem;
      color: $secondary;
    }

    svg {
      padding: 0.5rem;
      font-size: 3rem;
      color: $secondary;
    }
  }
}
