@import "colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;// height property is working here only, nowhere else, I mean not in header.scss that you were doing before
  // I have added this only in next js saass
  background: $grad;
  
  .navTags {
    display: flex;
  }

  svg {
    font-size: 5rem;
    margin-left: 3rem;

    &:hover {
      color: whitesmoke;
    }
  }

  button {
    font-size: 5rem;
    &:hover {
      color: whitesmoke;
    }
  }
}

.navLinks {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 10rem;
  gap: 3rem;
}

a:hover {
  color: whitesmoke;
}

.mobileMenuIcons {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar {
    height: 12vh;
    .navLinks {
      display: none;
    }

    .navTags {
      display: flex;
      justify-content: space-between;
    }

    .navLinksMobile {
      position: absolute;
      display: inline-block;
      list-style: none;
      background-color: $secondary;
      left: 0;
      top: 6.36rem; //changed this after inceresing the navabar heuight to 12vh, teh nhave change the top as it was overlaaping on the navabr
      padding: 0.8rem;  
      padding-bottom: 1.5rem;
      opacity: 0.8;
      transition: all 0.5s ease-out;
      width: 100%;
      text-align: center;

      a {
        color: $primary;
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
        font-weight: 5em;
        font-size: 1em;

        &:hover {
          color: whitesmoke;
        }
      }

      // this is for spacing between links
      li {
        padding-top: 0.45rem;
      }
    }

    .mobileMenuIcons {
      display: inline-block;
      svg {
        padding: 0;
        margin: 0;
        font-size: 3rem;
        background: $grad;
      }
      margin: 1rem;
      margin-bottom: 1rem;
      outline: none;
      border: none;
      border-radius: 3px;
      color: $secondary;
    }
  }
}
