@import "colors";

.trainInfoCard {
  width: 80%;
  color: $primary;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  text-align: center;
  border: 1px solid $primary;
  box-shadow: 0 0 10px $primary;
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  transition: transform 0.5s ease;
  &:hover {
    transform: scale(1.2);
    background-color: $secondary;
  }

  > .trainInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    svg {
      font-size: 2rem;
    }
  }

  > .stationSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
  }
}

// .zoom-in-card-hover {

// }

@media screen and (max-width: 600px) {
  .trainInfoCard {
    width: 95%;
    padding: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.005rem;
    margin: 7rem auto;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.2);
      background-color: $secondary;
    }
  }
  // .zoom-in-card-hover {
  //   overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  //   transition: transform .5s ease;
  //   &:hover {
  //     transform: scale(1.1);
  //     background-color: $secondary;
  //   }
  // }
}

@media screen and (max-width: 400px) {
  .trainInfoCard {
    display: flex;
    flex-direction: column;
  }
  .zoomInCardHover {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
      background-color: $secondary;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .trainInfoCard {
    width: 80%;
    color: $primary;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    text-align: center;
    border: 1px solid $primary;
    box-shadow: 0 0 10px $primary;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.2);
      background-color: $secondary;
    }

    > .trainInfoSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;

      svg {
        font-size: 2rem;
      }
    }

    > .stationSection {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-weight: 500;
    }
  }
}
